<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-alert-circle-i text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Organization</p>
              <p class="card-title">85
                <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-alert-circle-i text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Repositories</p>
              <p class="card-title">730
                <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-alert-circle-i text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Components</p>
              <p class="card-title">57705
                <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-alert-circle-i text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Vulnerabilities</p>
              <p class="card-title">8838
                <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="row">

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-alert-circle-i text-warning"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Critical</p>
                <p class="card-title">1397 (15.81%)
                  <p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-alert-circle-i text-warning"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">High</p>
                <p class="card-title">3362 (38.04%)
                  <p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-alert-circle-i text-warning"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Medium</p>
                <p class="card-title">3855 (43.62%)
                  <p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-alert-circle-i text-warning"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Low</p>
                <p class="card-title">161 (1.60%)
                  <p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-alert-circle-i text-warning"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Unknown</p>
                <p class="card-title">63 (0.71%)
                  <p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-alert-circle-i text-warning"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Languages</p>
                <p class="card-title">Java
                  <p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
<div class="row">
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title" style="text-align: center;"> Table of Vulnerable SBOMs</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        
        <table class="table">
          <thead class=" text-primary">
            <th>
              Organization
            </th>
            <th>
              Repository
            </th>
            <th>
              Components
            </th>
            <th class="text-center">
              Vulnerabilities
            </th>
            <th class="text-center">
              Critical
            </th>
            <th class="text-center">
              High
            </th>
            <th class="text-center">
              Medium
            </th>
            <th class="text-center">
              Low
            </th>
            <th class="text-center">
              Unknown
            </th>
            <th class="text-center">
              Email
            </th>
            <th class="text-center">
              Date
            </th>
            <th class="text-center">
              language
            </th>
            <th class="text-center">
              url
            </th>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">
                jenkinsci
              </td>
              <td class="text-center">
                zscaler-iac-scan-plugin
              </td>
              <td class="text-center">
                98
              </td>
              <td class="text-center">
                0
              </td>
              <td class="text-center">
                1
              </td>
              <td class="text-center">
                3
              </td>
              <td class="text-center">
                0
              </td>
              <td class="text-center">
                4
              </td>
              <td class="text-center">
                4
              </td>
              <td class="text-center">
                jragula@zscaler.com
              </td>
              <td class="text-center">
                2023-02-23 13:56:20 +0530
              </td>
              <td class="text-center">
                java
              </td>
              <td class="text-center">
                <a href="https://github.com/jenkinsci/zscaler-iac-scan-plugin">https://github.com/jenkinsci/zscaler-iac-scan-plugin</a>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                jenkinsci
              </td>
              <td class="text-center">
                zscaler-iac-scan-plugin
              </td>
              <td class="text-center">
                98
              </td>
              <td class="text-center">
                0
              </td>
              <td class="text-center">
                1
              </td>
              <td class="text-center">
                3
              </td>
              <td class="text-center">
                0
              </td>
              <td class="text-center">
                4
              </td>
              <td class="text-center">
                4
              </td>
              <td class="text-center">
                jragula@zscaler.com
              </td>
              <td class="text-center">
                2023-02-23 13:56:20 +0530
              </td>
              <td class="text-center">
                java
              </td>
              <td class="text-center">
                <a href="https://github.com/jenkinsci/zscaler-iac-scan-plugin">https://github.com/jenkinsci/zscaler-iac-scan-plugin</a>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                jenkinsci
              </td>
              <td class="text-center">
                zscaler-iac-scan-plugin
              </td>
              <td class="text-center">
                98
              </td>
              <td class="text-center">
                0
              </td>
              <td class="text-center">
                1
              </td>
              <td class="text-center">
                3
              </td>
              <td class="text-center">
                0
              </td>
              <td class="text-center">
                4
              </td>
              <td class="text-center">
                4
              </td>
              <td class="text-center">
                jragula@zscaler.com
              </td>
              <td class="text-center">
                2023-02-23 13:56:20 +0530
              </td>
              <td class="text-center">
                java
              </td>
              <td class="text-center">
                <a href="https://github.com/jenkinsci/zscaler-iac-scan-plugin">https://github.com/jenkinsci/zscaler-iac-scan-plugin</a>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                jenkinsci
              </td>
              <td class="text-center">
                zscaler-iac-scan-plugin
              </td>
              <td class="text-center">
                98
              </td>
              <td class="text-center">
                0
              </td>
              <td class="text-center">
                1
              </td>
              <td class="text-center">
                3
              </td>
              <td class="text-center">
                0
              </td>
              <td class="text-center">
                4
              </td>
              <td class="text-center">
                4
              </td>
              <td class="text-center">
                jragula@zscaler.com
              </td>
              <td class="text-center">
                2023-02-23 13:56:20 +0530
              </td>
              <td class="text-center">
                java
              </td>
              <td class="text-center">
                <a href="https://github.com/jenkinsci/zscaler-iac-scan-plugin">https://github.com/jenkinsci/zscaler-iac-scan-plugin</a>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                jenkinsci
              </td>
              <td class="text-center">
                zscaler-iac-scan-plugin
              </td>
              <td class="text-center">
                98
              </td>
              <td class="text-center">
                0
              </td>
              <td class="text-center">
                1
              </td>
              <td class="text-center">
                3
              </td>
              <td class="text-center">
                0
              </td>
              <td class="text-center">
                4
              </td>
              <td class="text-center">
                4
              </td>
              <td class="text-center">
                jragula@zscaler.com
              </td>
              <td class="text-center">
                2023-02-23 13:56:20 +0530
              </td>
              <td class="text-center">
                java
              </td>
              <td class="text-center">
                <a href="https://github.com/jenkinsci/zscaler-iac-scan-plugin">https://github.com/jenkinsci/zscaler-iac-scan-plugin</a>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                jenkinsci
              </td>
              <td class="text-center">
                zscaler-iac-scan-plugin
              </td>
              <td class="text-center">
                98
              </td>
              <td class="text-center">
                0
              </td>
              <td class="text-center">
                1
              </td>
              <td class="text-center">
                3
              </td>
              <td class="text-center">
                0
              </td>
              <td class="text-center">
                4
              </td>
              <td class="text-center">
                4
              </td>
              <td class="text-center">
                jragula@zscaler.com
              </td>
              <td class="text-center">
                2023-02-23 13:56:20 +0530
              </td>
              <td class="text-center">
                java
              </td>
              <td class="text-center">
                <a href="https://github.com/jenkinsci/zscaler-iac-scan-plugin">https://github.com/jenkinsci/zscaler-iac-scan-plugin</a>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                jenkinsci
              </td>
              <td class="text-center">
                zscaler-iac-scan-plugin
              </td>
              <td class="text-center">
                98
              </td>
              <td class="text-center">
                0
              </td>
              <td class="text-center">
                1
              </td>
              <td class="text-center">
                3
              </td>
              <td class="text-center">
                0
              </td>
              <td class="text-center">
                4
              </td>
              <td class="text-center">
                4
              </td>
              <td class="text-center">
                jragula@zscaler.com
              </td>
              <td class="text-center">
                2023-02-23 13:56:20 +0530
              </td>
              <td class="text-center">
                java
              </td>
              <td class="text-center">
                <a href="https://github.com/jenkinsci/zscaler-iac-scan-plugin">https://github.com/jenkinsci/zscaler-iac-scan-plugin</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>


<div class="row">
<div class="col-md-4">
  <div class="card ">
    <div class="card-header ">
      <h5 class="card-title">Vulnerability by severity</h5>
      <p class="card-category">In %</p>
    </div>
    <div class="card-body ">
      <canvas id="chartEmail"></canvas>
    </div>
    <div class="card-footer ">
      <div class="legend">
        <i class="fa fa-circle text-primary"></i> Critical
        <i class="fa fa-circle text-warning"></i> High
        <i class="fa fa-circle text-danger"></i> Medium
        <i class="fa fa-circle text-gray"></i> Low
        <i class="fa fa-circle text-gray"></i> Unknown
      </div>
    </div>
  </div>
</div>
<div class="col-md-8">
  <div class="card card-chart">
    <div class="card-header">
      <h5 class="card-title">Vulnerability by severity</h5>
      <p class="card-category">In %</p>
    </div>
    <div class="card-body">
      <canvas id="speedChart" width="400" height="100"></canvas>
    </div>
    <div class="card-footer">
      <div class="chart-legend">
        <i class="fa fa-circle text-primary"></i> Critical
        <i class="fa fa-circle text-warning"></i> High
        <i class="fa fa-circle text-danger"></i> Medium
        <i class="fa fa-circle text-gray"></i> Low
      </div>
    </div>
  </div>
</div>
</div>
