
<div class="row">
  <!--<div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="assets/img/mike.jpg" alt="...">
            <h5 class="title">Chet Faker</h5>
          </a>
          <p class="description">
            @chetfaker
          </p>
        </div>
        <p class="description text-center">
          "I like the way you work it
          <br> No diggity
          <br> I wanna bag it up"
        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-6 ml-auto">
              <h5>12
                <br>
                <small>Files</small>
              </h5>
            </div>
            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
              <h5>2GB
                <br>
                <small>Used</small>
              </h5>
            </div>
            <div class="col-lg-3 mr-auto">
              <h5>24,6$
                <br>
                <small>Spent</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Team Members</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled team-members">
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-md-7 col-7">
                DJ Khaled
                <br />
                <span class="text-muted">
                  <small>Offline</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-md-7 col-7">
                Creative Tim
                <br />
                <span class="text-success">
                  <small>Available</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-ms-7 col-7">
                Flume
                <br />
                <span class="text-danger">
                  <small>Busy</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>-->
  <div class="col-md-12">
    <div class="card card-user" style="padding: 12px 14px;">
      <div class="card-header">
        <h2 class="card-title" style="text-align: center;">GitHub Supply Chain Search Engine
        </h2>
      </div>
      <div class="card-body">
        <form action="/sboms" method="post">
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Max Results
                </label>
                <input type="text" class="form-control" placeholder="e.g. 10" value="" name="max_results" required>
              </div>
            </div>
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Organization</label>
                <select class="form-control" required><option>Google</option></select>
              </div>
            </div>
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Repository</label>
                <select class="form-control" required><option>My Repo</option></select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Language</label>
                <select class="form-control" required><option>Java</option></select>
              </div>
            </div>
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Package Manager</label>
                <select class="form-control" required><option>Maven</option></select>
              </div>
            </div>
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Commit Email                </label>
                <input type="text" class="form-control" placeholder="e.g. dev@company.com" value="" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Commit Date From (SOON)                </label>
                <input type="date" class="form-control" required>
              </div>
            </div>
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Component name                </label>
                <select class="form-control" required><option>Log4j</option></select>
              </div>
            </div>
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Component group                </label>
                <input type="text" class="form-control" placeholder="com.diz.knots" required> 
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Component version                </label>
                <input type="text" class="form-control" placeholder="e.g. 1.2.0" required>
              </div>
            </div>
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Component purl                </label>
                <select class="form-control" required><option>pkg:npm/foobar@12.3.1</option></select>
              </div>
            </div>
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>CVE               </label>
                <input type="text" class="form-control" placeholder="e.g. CSV-1337" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Score               </label>
                <input type="text" class="form-control" placeholder="e.g. 9.1" required>
              </div>
            </div>
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Severity                </label>
                <select class="form-control" required><option>Critical</option></select>
              </div>
            </div>
          </div>
          <div class="text-center">
          <input type="submit" class="btn btn-primary" value="Search"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
